.header {
    min-height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $blue;
    z-index: 1;

    @include media('>=1024px') {
        min-height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }

    .logo {
        max-width: 168px;
        text-align: left;
        padding: 16px;
        margin: 0;
    }

    .nav-holder {
        @include animate(opacity visibility, 0.4s);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $blue;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 1px 1px 1px 1px #fff;
        opacity: 0;
        visibility: hidden;

        @include media('>=768px') {
            opacity: 1;
            visibility: visible;
            box-shadow: none;
            margin: -16px;
            
        }

        @include media('>=1024px') {
            opacity: 1;
            visibility: visible;
            box-shadow: none;
            justify-content: flex-end;
            padding-right: 32px;
            top: 100%;
            }

        
        &.active {
            opacity: 1;
            visibility: visible;
        }
    
        .nav-list {
            padding-top: 0;
            margin-bottom: 20px;

            @include media('>=1024px') {
                margin: -40px auto;
                padding: 0;
            }

        
            li {
                text-align: center;

                @include media('>=1024px') {
                    float: left;
                    //display: block;
                    padding-left: 20px;
                    margin: 0;
                }
            }
    
            .nav-link {
                font-family: $title-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;  
                letter-spacing: 0.1em;
            }
        }
    }

    .nav-opener {  
        background-color: transparent;
        border: none;
        outline: none;
        position: relative;
        width: 40px;
        height: 25px;
        display: flex;
        
        //max-width: calc(100% - 168px);
        float: right;
        margin-right: auto;
        //margin: -25% -32em auto;

        @include media('>=768px') {
            display: none;
        }

        @include media('>=1024px') {
            display: none;
        }
     
    
    &.active {
        .mobile-header {
            opacity: 0;
            visibility: hidden;
        }
    
        &::before {
            transform: rotate(-45deg);
            top: 47%;
        }
    
        &::after {
            transform: rotate(45deg);
            bottom: 50%;
        }
    }
    
    .mobile-header,
    &::before,
    &::after {
        @include animate(all, 0.4s);
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $white;
        left: 0;
    }
    
    &::before {
        top: 0;
    }
    
    &::after {
        bottom: 0;
    }
    
    .mobile-header {
        top: 50%;
        transform: translateY(-50%);
        }
    }
}




