@font-face {
    font-family: 'aleo';
    src: url('../../fonts/aleo-light-webfont.eot');
    src: url('../../fonts/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aleo-light-webfont.woff2') format('woff2'),
         url('../../fonts/aleo-light-webfont.woff') format('woff'),
         url('../../fonts/aleo-light-webfont.ttf') format('truetype'),
         url('../../fonts/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'aleo';
    src: url('../../fonts/aleo-regular-webfont.eot');
    src: url('../../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('../../fonts/aleo-regular-webfont.woff') format('woff'),
         url('../../fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('../../fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sans';
    src: url('../../fonts/josefinsans-variablefont_wght-webfont.eot');
    src: url('../../fonts/josefinsans-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../fonts/josefinsans-variablefont_wght-webfont.woff') format('woff'),
         url('../../fonts/josefinsans-variablefont_wght-webfont.ttf') format('truetype'),
         url('../../fonts/josefinsans-variablefont_wght-webfont.svg#josefin_sansthin') format('svg');
    font-weight: 300;
    font-style: normal;

}